.para1-both {
	position: relative;
}

.textbox {
	width: 200px;
	padding: 20px;
	background-color: yellow;
}

.textshow {
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 50px;
}

.header-both {
	position: relative;
}

#header-orig {
	
}

#header-edit {
	display:none;
	position: absolute;
	top: 0;
	left: 0;
}

.para2-both {
	position: relative;
}

#para2-orig {

}

#para2-edit {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}